<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
    <!-- parameterType은 mybatis-config.xml에서 typeAliases 태그로 적어둔 것만 사용 가능 -->
    <!-- 그렇지 않으면 dto 파일의 패키지 전체 경로를 적어야 한다 -->
    <insert id = "save" parameterType="board">
        insert into board_table(boardTitle, boardWriter, boardPass, boardContents)
        values(
                  #{boardTitle}, #{boardWriter}, #{boardPass}, #{boardContents}
              )
    </insert>

    <!-- select 경우 resultType은 보통 있고, parameterType은 선택-->
    <select id = "findAll" resultType="board">
        select * from board_table order by id desc
    </select>
</mapper>